import sys
import os
sys.path.insert(0, os.path.abspath(os.path.join(os.path.dirname(__file__), '..')))

from common.config import Settings

settings = Settings(_env_file=".env")

SERVICE_NAME = "auth-service"
PORT = 8001
